<%- include("../layouts/header", {title: title}) %>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center mb-4"><%= book.title %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-around">
      <div class="card" style="width: 88rem">
        <img
          class="card-img-top"
          src="https://via.placeholder.com/600x380.png"
          alt="<%= book.title %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text"><%= book.description %></p>
          <p class="card-text">Просмотров: <%= count %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-4">
      <div id="list" class="list-group"></div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-6">
      <ul id="list"></ul>
      <div class="form-group mt-2">
        <label for="text">сообщение</label>
        <textarea
          placeholder="Введите сообщение"
          class="form-control"
          id="text"
        ></textarea>
      </div>
      <button type="submit" id="send" class="btn btn-primary mt-2">
        отправить
      </button>
    </div>
  </div>
</div>

<script>
  // const socket = io.connect('http://localhost:3000');
  const socket = io.connect('/');
  const bookId = location.pathname.split('/').pop();
  const inputText = document.querySelector('#text');
  const btn = document.querySelector('#send');
  const boxList = document.querySelector('#list');
  const getTmp = (msg) => {
    return `
              <li class="list-group-item">
                  ${msg}
              </li>
      `;
  };

  socket.emit('toServerGetAllComments', {
    id: bookId,
  });

  socket.on('toClient', (msg) => {
    console.log('toClient msg', msg);
    // const div = getTmp(msg);
    const div = Array.isArray(msg)
      ? msg.map((item) => getTmp(item)).join('')
      : getTmp(msg);
    boxList.insertAdjacentHTML('beforeend', div);
  });

  btn.addEventListener('click', () => {
    console.log('inputText.value', inputText.value);
    socket.emit('toServerAddComment', {
      bookId,
      comment: inputText.value,
    });
  });
</script>

<%- include("../layouts/footer") %>
